/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(232, 177, 138);
    font-family: 'Roboto','Courier New', Courier, monospace;
}

.payment-container {
    max-width: 1000px;
    width: 600px;
    /* height: 100vh; */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    text-align: center;
    color: #333;
}

/* Billing Address styles */
.billing-address, .payment-details {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.billing-address .coupon-section button {
    margin-top: 10px;
    background-color: rgb(190, 121, 72);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.billing-address .coupon-section button:hover {
    color: white;
    background: chocolate;
    cursor: pointer;
}

.billing-address h2, .payment-details h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#billing-form, #payment-form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Payment Details styles */
#cards {
    font-size: 24px;
    color: #555;
}

.exp-date {
    display: flex;
    gap: 30px;
}

.exp-month, .exp-year {
    flex: 1;
}



/* Total Amount and Pay Now Button styles */
.total-amount p {
    font-size: 18px;
    color: #555;
    margin: 20px 0;
}

#total-amount {
    font-weight: bold;
    color: #333;
}

#pay-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: rgb(190, 121, 72);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#pay-button:hover {
    background-color: chocolate;
}

a {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #007BFF;
    margin-top: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* pop up box start */
.popup {
    width: 300px;
    background: rgb(213, 189, 171);
    border-radius: 10px;
    position: absolute;
    top: 0;   /*change this before it was 50% */
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); /*change the scale there was no scale*/
    text-align: center;
    padding: 0 30px 30px ;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.2) ;
    visibility: hidden;      /* change this before there was no visibility */
    transition: transform 0.4s, top 0.4s;
    
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}

.popup #pop-check {
    font-size: 100px;
    margin-top: -50px;
    
}

.popup button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    background:rgb(190, 121, 72) ;
    color: white;
    cursor: pointer;


}

.popup button:hover {
    background-color: chocolate;
    box-shadow:0 5px 5px rgba(0, 0, 0, 0.2) ;
}
/* pop up box end */