*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   scroll-padding-top: 2rem; 
   outline: none;
   list-style: none;
   text-decoration: none;
   font-family: 'Roboto','Courier New', Courier, monospace;

}
html ::-webkit-scrollbar-track {
   background: transparent;

}

body {
   color:rgb(65, 41, 24);
   width: 100%;
   background: rgb(213, 189, 171) ;

}
html ::-webkit-scrollbar-thumb {
   background:chocolate ;
   border-radius: 10px;
}
html ::-webkit-scrollbar {
   width: 10px;
}

/* navbar start */

#navbar {
   background-color:rgb(190, 121, 72);
   height: 90px;
   box-shadow:0px 1px 4px hsl(0 4% 15% / 10%);
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 100;
   width: 100%;
}
#logo img {
   border-radius:10px ;
   width: 170px;
   margin-left: 40px;
   margin-top: 10px;
}
#cart-icon {
   font-size: 30px;
   color: rgb(65, 41, 24);
   margin-right: 40px;
   cursor: pointer;
}
#cart-icon:hover{
   color: white;
}
/* navbar end */







/* cart section start */

.cart-content {
   max-height: 500px; 
   overflow-y: auto;
}

.cart {
   position: fixed;
   top:60px;
   right: -100%;
   width: 360px;
   min-height: 100vh;
   padding: 20px;
   background:rgb(209, 149, 107) ;
   box-shadow:-2px 0 4px hs1(0 4% 15% / 10%) ;
   transition: 0.3s;
   z-index: 10;
}

.cart.active {
   right: 0;

}

.cart-title {
   text-align: center;
   font-size: 1.5rem;
   font-weight: 600;
   margin-top: 1rem;
}

.cart-box {
   padding: 10px;
   display: grid;
   grid-template-columns: 32% 50% 18%;
   align-items: center;
   background: whitesmoke;
   margin: 10px 0px;
}
.cart-img {
   width: 90px;
   height: 100px;
   object-fit: cover;
   padding: 10px;
   border-radius: 20px;

}
.detail-box {
   display: grid;
   row-gap: 0.5rem;
}
.cart-product-title {
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: 600;
}

.cart-price {
   font-weight: 500;
}
.cart-quantity {
   border: 1px solid rgb(65, 41, 24) ;
   outline-color: white;
   width: 2.4rem;
   text-align: center;
   font-size: 1rem;

}
.cart-remove {
   font-size: 24px;
   color:  rgb(65, 41, 24);
   cursor: pointer;
}

.total {
   display: flex;
   justify-content: flex-end;
   margin-top: 1.5rem;
   border-top: 1px solid rgb(65, 41, 24);
}
.total-title {
   font-size: 1rem;
   font-weight: 600;

}
.total-price {
   margin-left: 0.5rem;

}
.buy-btn {
   display: flex;
   margin: 1.5rem auto 0 auto;
   padding: 12px 20px;
   border: none;
   background:rgb(190, 121, 72);
   color: white;
   border: none;
   border: 1px solid rgb(247, 218, 218);
   transition: 0.5s;
   border-radius: 5px;
   cursor: pointer;
   width: 98%;
   justify-content: center;

}
.buy-btn:hover {
   color: white;
   background: chocolate;
   cursor: pointer;
}
#cart-close {
   position: absolute;
   top: 1rem;
   right: 0.8rem;
   font-size: 2rem;
   color:rgb(65, 41, 24) ;
   cursor: pointer;
   

}

/* cart section end */






/* shop section start */

section {
   /* padding: 1rem  1rem 0; */
   padding: 5px 5px;
   /* background: rgba(243, 226, 201, 0.3); */
   margin: 10px 10px;
   align-items: center;
   /* text-align: center; */
   border-radius: 5px;
   
}

.section-title {
   text-align: center;
   padding: 10px 5px;
   margin-top: -17px;
}

.shop-content {
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(150px,auto));
   /* grid-template-rows: repeat(auto-fit, minmax(250px, auto)); */
   margin-top: 10px;
   gap: 1.5rem;
   
}
.product-box {
  position: relative;
}
.product-box:hover {
   padding:  10px ;
   border: 1px solid rgb(65, 41, 24);
   transition: 0.4s;
   border-radius: 5px;
}
.product-img{
   width: 100%;
   height: auto;
   margin-bottom: 0.5rem;
   border-radius: 5px;

}
.product-name {
   font-size: 1.1rem;
   font-weight:600 ;
   text-transform: uppercase;
   margin-bottom: 0.5rem;
}
.price{
   font-weight: 500;
}

.add-btn {
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 5px;
   border-radius: 5px;
   background:rgb(190, 121, 72);
   color: white;
   border: none;
   border: 1px solid rgb(247, 218, 218);
   transition: 0.5s;
}
.add-btn:hover {
   color: white;
   background: chocolate;
   cursor: pointer;
}
