*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto','Courier New', Courier, monospace;


}
 
.all-content {
    background: rgb(213, 189, 171) ;
}

html ::-webkit-scrollbar-track {
    background: transparent;

}

html ::-webkit-scrollbar-thumb {
    background:chocolate ;
    border-radius: 10px;
}
html ::-webkit-scrollbar {
    width: 10px;
}
/* navbar-start */
#navbar {
    background-color:rgb(190, 121, 72) ;
}
#logo img {
    border-radius:10px ;
    width: 150px;
    margin-left: 40px;
}
.navbar-nav .nav-link {
  color: white;  
  margin-left: 10px;
  font-weight: bold;
  transition: 0.5s;
}
.nav-item .nav-link:hover {
    background: white;
    border-radius: 5px;
    color:rgb(65, 41, 24) ;
}
#navbar form button {
    background: white;
    color: rgb(65, 41, 24);
    border-radius: 10px;
    border: 1px solid black;
}
#navbar form button:hover {
    color:white;
    background: chocolate ;
}
#navbar form  input {
    border-radius: 10px;
}
/* navbar-end */




/* home section start */
#home {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./images/bc3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;

}  
#home .content {
    padding-top: 200px;
    margin-left: 50px;

}
#home .content h3 {
    font-size: 50px;
    color: White;

}
#home .content p {
    margin-top: 10px;
    color: white;
    font-size: 20px;
}
#home #btn {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border: 1px solid rgb(247, 218, 218);
    background-color:rgb(190, 121, 72);
    color: white;
    
}
#home #btn:hover {
    color: white;
    background: chocolate;
    cursor: pointer;
}
/* home section end */



/* about section start */
#about {
    width: 100%;
    height:100vh;
}
#about .container {
    padding-top:50px ;

}
.heading {
    text-align: center;
    font-size: 40px;
    color:rgb(65, 41, 24) ;
    margin-bottom: 50px;
    font-weight: bold;
}
.heading span {
    color: rgb(189, 116, 20);
}
#about .card img {
    border-radius: 10px;

}
#about-btn {
    width:150px;
    border-radius: 5px;
    padding: 5px;
    background:rgb(190, 121, 72);
    color: white;
    border: none;
    border: 1px solid rgb(247, 218, 218);
    transition: 0.5s;
}
#about-btn:hover {
    color: white;
    background: chocolate;
    cursor: pointer;
}

@media screen and (max-width:982px){
    #about p {
           font-size: 8px;

    }
    
}
@media screen and (max-width:766px){
    #about p {
           font-size: 15px;
           
    }
    #about {
        height:120vh;
    }
    
}
/* about section end */

